.vertical-line {
  border-left: 3px solid white;
  height: 100%;
  margin: 25px;
  border-radius: 10px;
}

.main {
  height: 41vw;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div1,
.div2 {
  width: 30%;
  padding: 0.5%;
  color: white;
  border: 2px solid white;
  background: #00000096;
  backdrop-filter: blur(20px);
  position: relative;
  height: 34%;
  border-radius: 1% 16%;
  font-size: 98%;
}

.div1 {
  top: -33%;
}

.div2 {
  top: 33%;
}
