.home.intro .introdiv {
  padding: 4vw;
  padding-top: 16vw;
  position: absolute;
  height: inherit;
  width: 100vw;
  background: linear-gradient(44deg, black, #2c0854);
  transition: 2s;
  top: 0;
  overflow: hidden;
  overflow-y: scroll;
  top: 0;
}
.home.intro {
  height: 200vh;
}
/* hello */
.introdiv {
  padding: 4vw;
  padding-top: 16vw;
  transition: 2s;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(44deg, black, #2c0854);
  top: 100vh;
}
.home.intro .textcontainer {
  transition: 1.5s;

  z-index: 5;
  color: white;
}
.textcontainer {
  z-index: 5;
}
.home.intro .textcontainer .hi {
  top: 1vw;
  left: 7vw;
  opacity: 0;
}
.home.intro .textcontainer .name {
  font-size: 3rem;
  top: 1vw;
  left: 7vw;
}
.home.intro .profile {
  left: 73vw;
  top: 14vw;
}
.introdiv h3 {
  color: white;
  width: 67vw;
}
/* .contentdiv {
  transition: 2s;
  position: absolute;
  top: -100vh;
} */
/* .home.intro .contentdiv {
  transition: 2s;
  top: 0;
} */
