.home.intro .introdiv {
  transition: 2s;
  bottom: 100vh;
}
.home.intro {
  /* height: 200vh; */
  overflow: none;
  display: block;
  overflow-y: none;
}
/* hello */
.introdiv {
  padding: 4vw;
  padding-top: 16vw;
  transition: 2s;

  width: 100vw;
  position: relative;
  background: linear-gradient(44deg, black, #2c0854);

  bottom: 0px;
}
.home.intro .textcontainer {
  transition: 1.5s;
  top: 0;
  z-index: 5;
  color: #fff2c2;
  bottom: 47vh;
  left: -10vw;
  width: 72vw;
  scale: 0.8;
}
.textcontainer {
  transition: 2s;
  z-index: 5;
}
.home.intro .textcontainer .hi {
  top: 1vw;
  left: 7vw;
  opacity: 0;
}
.home.intro .textcontainer .name {
  font-size: 3rem;
  top: 1vw;
  left: 3.5vw;
}
.home.intro .profile {
  left: 73vw;
  top: 14vw;
}
.introdiv h3 {
  color: white;
  width: 67vw;
}
.home.intro .contentdiv {
  top: 0;
}
/* .contentdiv {
  transition: 2s;
  position: absolute;
  top: -100vh;
} */
/* .home.intro .contentdiv {
  transition: 2s;
  top: 0;
} */
/* hr {
  margin: 1rem 0;
  color: #fff2c2;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 1;
} */
.introdiv h2 {
  color: rgb(255, 242, 194);
  font-size: 3rem;
  text-decoration: 2px underline;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}
