@keyframes initialzoom {
  from {
    background-size: 100%;
  }
  to {
    background-size: 132%;
  }
}
@keyframes initialmovehi {
  from {
    opacity: 0;
    left: 14vw;
  }
  to {
    left: 10vw;
    opacity: 1;
  }
}
@keyframes initialmovename {
  from {
    left: 8vw;
    opacity: 0;
  }
  to {
    left: 10.1vw;
    opacity: 1;
  }
}
@keyframes initialimg {
  from {
    left: -21vw;
  }
  to {
    left: 62vw;
  }
}
@keyframes initialtext {
  from {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 60% 0%, 60% 100%, 0% 100%);
  }
}
@keyframes initialfade {
  to {
    opacity: 1;
  }
}
html {
  font-size: 1vw;
}
.name {
  transition: 2s;
  position: relative;
  left: 10.1vw;
  opacity: 1;
  top: 14vw;
  font-size: 5rem;
}
.hi {
  transition: 2s;
  position: relative;
  top: 16vw;
  font-size: 6rem;
  left: 10vw;
  opacity: 1;
}
.profile {
  position: absolute;
  width: 19vw;
  border-radius: 10vw;
  transition: 2s;
  top: 13vw;
  left: 62vw;
  z-index: 7;
}
.home {
  transition: 2s;
  background: url("https://i.postimg.cc/TPXHr8rQ/white.jpg");
  background-size: 132%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
}
.textcontainer {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  transition: 2s;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 60% 0%, 60% 100%, 0% 100%);
}
.nav {
  transition: 500ms;
  z-index: 30;
  position: absolute;
  top: 1%;
  right: 2%;
  opacity: 0;
  animation: initialfade 2s ease-in-out forwards;
}
.btn.btn-primary {
  --bs-btn-bg: #65558f;
  background-color: #65558f;
  margin: 1vw;
  border: none;
  border-radius: 20px;
}
.home.initial {
  animation: initialzoom 2s ease-in-out forwards;
}
.profile.initial {
  animation: initialimg 2s ease-in-out forwards;
}
.textcontainer.initial {
  animation: initialtext 2s ease-in-out forwards;
}
.hi.initial {
  animation: initialmovehi 2s ease-in-out forwards;
}
.name.initial {
  animation: initialmovename 2s ease-in-out forwards;
}
.home.introtrans {
  transition: 2s;
  background-size: 116%;
  background-position: 51% 0;
}
.textcontainer.introtrans .name,
.textcontainer.introtrans .hi {
  transition: 2s;
  left: -47%;
}
.profile.introtrans {
  transition: 2s;
  left: 5vw;
  z-index: 4;
}

.home.out {
  scale: 20;
  transition: 2s;
  opacity: 0;
}
.Introdiv.out {
  /* scale: 20; */
  transition: 2s;
  opacity: 0;
}

.Introdiv {
  transition: 2s;
  display: flex;
  /* border: 2px solid #ffffff; */
  border-radius: 20px;
  background: rgb(95.686% 95.686% 95.686%);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: 2s;
  width: 97vw;
  height: 200vh;
  position: absolute;
  left: 1vw;
  top: 107px;
  padding: 10px;
  background: linear-gradient(36deg, #004a62cf, #28423bab);
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 10vh;
  position: absolute;
  left: 120vw;
  top: 107px;
}
.Introdiv.active {
  display: flex;
  /* border: 2px solid #ffffff; */
  border-radius: 20px;
  background: rgb(95.686% 95.686% 95.686%);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: 2s;
  width: 97vw;
  height: 200vh;
  position: absolute;
  left: 1vw;
  top: 107px;
  padding: 10px;
  background: linear-gradient(36deg, #004a62cf, #28423bab);
  flex-direction: column;
  justify-content: space-between;
}
.itrodiv {
  position: absolute;
  width: 100vw;
  /* padding: 27px; */
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  top: 0;
}
