@keyframes initialzoom {
  from {
    background-size: auto 122%;
  }
  to {
    background-size: auto 140%;
  }
}
@keyframes initialmovehi {
  from {
    opacity: 0;
    left: 4vw;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes initialmovename {
  from {
    right: 2vw;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes initialimg {
  from {
    left: -81vw;
  }
  to {
    left: 6vw;
  }
}
@keyframes initialtext {
  from {
    opacity: 0;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 70vw 0%, 70vw 100%, 0% 100%);
  }
}
@keyframes initialfade {
  to {
    opacity: 1;
  }
}
@keyframes initialcontent {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
html {
  font-size: 1vw;
}
.name {
  transition: 2s;
  position: relative;
  /* left: 10.1%; */
  opacity: 1;
  width: inherit;
  height: inherit;
  font-size: clamp(6rem, 6vh, 8rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hi {
  transition: 2s;
  position: relative;
  /* top: 16%; */
  font-size: 6rem;
  /* left: 10%; */
  opacity: 1;
}
.profile {
  position: relative;
  width: 19%;

  border-radius: 80%;
  transition: 2s;
  left: 6vw;
  z-index: 7;
}
.home {
  transition: 2s;

  /* background: url(./src/Images/sky3.jpg); */
  /* background-size: cover; */
  /* height: 100vh; */
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.textcontainer {
  /* background: green; */
  position: relative;
  overflow: hidden;
  transition: 2s;
  width: 45vw;
  /* height: 134px; */
  /* top: 0vh; */
  right: 6vw;
  clip-path: polygon(0% 0%, 70vw 0%, 70vw 100%, 0% 100%);
}
.nav {
  transition: 500ms;
  z-index: 30;
  position: absolute;
  top: 1%;
  right: 2%;
  opacity: 0;
  animation: initialfade 2s ease-in-out forwards;
}
.btn.btn-primary {
  --bs-btn-bg: #65558f;
  background-color: #65558f;
  margin: 1vw;
  border: none;
  border-radius: 20px;
}
.home.initial {
  animation: initialzoom 2s ease-in-out forwards;
}
@media (orientation: landscape) {
  .profile.initial {
    animation: initialimg 1.8s ease-in-out forwards;
  }
  .textcontainer.initial {
    animation: initialtext 2s ease-in-out forwards;
  }
  .hi.initial {
    animation: initialmovehi 2s ease-in-out forwards;
  }
  .name.initial {
    animation: initialmovename 2s ease-in-out forwards;
  }
}
.home.introtrans {
  transition: 2s;
  background-size: 116%;
  background-position: 51% 0;
}
.textcontainer.introtrans .name,
.textcontainer.introtrans .hi {
  transition: 2s;
  left: -47%;
}
.profile.introtrans {
  transition: 2s;
  left: 5vw;
  z-index: 4;
}

.home.out {
  scale: 20;
  transition: 2s;
  opacity: 0;
}
.Introdiv.out {
  /* scale: 20; */
  transition: 2s;
  opacity: 0;
}

.Introdiv {
  transition: 2s;
  display: flex;
  /* border: 2px solid #ffffff; */
  border-radius: 20px;
  background: rgb(95.686% 95.686% 95.686%);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: 2s;
  width: 97vw;
  height: 200vh;
  position: absolute;
  left: 1vw;
  top: 107px;
  padding: 10px;
  background: linear-gradient(36deg, #004a62cf, #28423bab);
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 10vh;
  position: absolute;
  left: 120vw;
  top: 107px;
}
.Introdiv.active {
  display: flex;
  /* border: 2px solid #ffffff; */
  border-radius: 20px;
  background: rgb(95.686% 95.686% 95.686%);
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: 2s;
  width: 97vw;
  height: 200vh;
  position: absolute;
  left: 1vw;
  top: 107px;
  padding: 10px;
  background: linear-gradient(36deg, #004a62cf, #28423bab);
  flex-direction: column;
  justify-content: space-between;
}
.itrodiv {
  position: absolute;
  width: 100vw;
  /* padding: 27px; */
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  top: 0;
}
h2 {
  color: rgb(255, 242, 194);
}
.contentdiv {
  /* background: red; */
  background: url(https://i.postimg.cc/TPXHr8rQ/white.jpg);
  background-size: auto 140%;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
@media (orientation: portrait) {
  .nav {
    scale: 2;
    right: 35vw;
  }

  .home .profile {
    scale: 2.5;
    bottom: 75px;
    left: -28px;
  }
  .home .hi {
    top: 2px;
  }
  .home .name {
    top: 2px;
  }
  .home .textcontainer {
    bottom: 14px;
    scale: 1.5;
    left: 20px;
  }
  /* .contentdiv {
    animation: initialcontent 2s ease-in-out forwards;
  } */
  .anjith {
    position: relative;
    left: 22px;
  }
}
.name h2 {
  font-size: clamp(6rem, 6vh, 8rem);
  margin: 3px;
}
