@import url("https://fonts.googleapis.com/css2?family=Alata&family=Anek+Devanagari:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  overflow-x: hidden;
  background: black;
}
#page1 {
  background-image: url(./src/Images/Starwars.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* Black overlay */
      url("https://i.postimg.cc/4NWcTB5T/Largest-Collection-Of-Star-Wars-Wallpaper-For.jpg");
  background-size: cover;
  background-position: right bottom;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Textcontainer h1 {
  width: clamp(53%, 58vh, 84%);
  color: #ffc107;
  font-size: clamp(2rem, 4vw, 24rem);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.Textcontainer h5 {
  color: white;
  font-size: 1.5vw;
  font-size: clamp(15px, 1.5vw, 25px);
  width: clamp(67%, 58vh, 104%);
}
.Textcontainer {
  position: relative;
  padding: 20px;
  bottom: 48px;
}
#stupid {
  color: inherit; /* Removes the default blue color and uses the current text color */
  text-decoration: none; /* Removes the underline */
}
#hg {
  font-size: 20px;
  color: gold;
  text-decoration: underline;
}
.nav {
  background: none;
  border: none;
  color: white;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
nav {
  margin-top: 10px;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  font-size: 18px;
  justify-content: flex-end;
}
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#page2,
#page4,
#page5 {
  height: 100vh;
  width: 100vw;
  background: black;
  background-size: cover;
  background-position: center;
}

#page2 {
  background-image: url("https://i.postimg.cc/3xWvrmS0/107763.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px;
}
#page2 h4 {
  color: gold;
  font-size: clamp(1.5rem, 2.5vw, 5rem);
}
#page3 h4 {
  color: gold;
  font-size: clamp(1.5rem, 2.5vw, 5rem);
}
/* #page3 {
  background: green;
} */
#page3 {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.postimg.cc/Pq48C5k0/Shooting-Stars-Wallpaper-HD.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.content {
  width: clamp(2%, 101vh, 100%);
  color: #ffffffa6;
  height: 100%;
  display: flex;
  font-size: clamp(89%, 2vw, 137%);
  flex-direction: column;
  align-items: center;
}
#falcon {
  background: red;
  scale: 0.2;
  position: relative;
  left: 40%;
  top: -38%;

  animation: move linear forwards;
  animation-timeline: view();
  animation-range-start: 200px;
  animation-range-end: 1000px;
}
@keyframes move {
  from {
    left: 40%;
    /* scale: 0.2; */
    top: -38%;
  }
  to {
    left: -60%;
    top: 103%;
    /* scale: 1.2; */
  }
}
